<form accept-charset="UTF-8" action="/users" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="username">Username:</label>  
  <input type="text" name="username" />
  <label for="email">Email:</label>  
  <input type="email" name="email" />
  <label for="password">Password:</label>  
  <input type="password" name="password" />
  <input type="submit" value="Create Account" />
</form>