// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

h2 {
  margin: 10px 0 10px 0;
  color: #02246E;
  font-size: 22px;
  text-align: center;
}

.field {
  width: 260px;
  height: 30px;
  font-size: 20px;
  color: rgb(128, 128, 128);
}

input[type=submit] {
  background-color: #294e9e;
  border: none;
  color: #FFF;
  padding: 10px 26px;
  text-decoration: none;
  margin: 15px 2px;
  font-size: 22px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #0c34e2;
}
